@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Walton
   Date:   2/23/2023
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */
html {
   height: 100%;
}

body {
   width: 95%;
   min-width: 640px;
   max-width: 960px;
   margin: 0 auto;
   min-height: 100%;
}

img {
   display: block;
}

/* CSS Grid Styles */
body {
   display: grid;
   grid-template-columns: 25% 25% 25% 25%; /* recommend */
   /* grid-template-columns: 1fr 1fr 1fr 1fr; not work, weird step 6 in textbook */
}

#logo {
   grid-column: 1 / span 3;
   width: 100%;
}

nav.horizontal, footer {
   grid-column: 1 / span 4;
}

aside {
   grid-column: span 2 ; /* each of aside take 2 colum,seem don't need start position, check the w3s */
}

/* Horizontal Navigation List Styles */
nav.horizontal li {
   width: 12.5%;
   float: left;
}


/* Section Styles */
section img {
   width: 50%;
   margin: 0 auto;
}

section p {
   width: 70%;
   margin: 0 auto;
}



/* Customer Comment Styles */

